/* Page-specific styling */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* bottom = footer height */
}
.ms-Fabric {
    font-family: sans-serif !important;
}
.Button-label {
    font-family: sans-serif !important;
}
.fa-circle-info::before {
    color: rgba(164, 161, 161, 0.792) !important;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}
#logo{
    width: 250px;
    height: 100PX;
}
#logout {
  margin: 103px 0 7px 0;
}

.padding {
  padding: 15px;
}

#notification-popup.MessageBanner {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: left;
  height: inherit;
  min-width: inherit;
}

#notification-popup .MessageBanner-text {
  margin: 0;
  padding: 18px 15px;
  min-width: inherit;
}

.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
}

.success-msg {
  color: #270;
  background-color: #dff2bf;
}

.warning-msg {
  color: #9f6000;
  background-color: #feefb3;
}

#message {
  height: 138px;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #1A57B9;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #1A57B9;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #1A57B9;
}

